@tailwind base;
@tailwind components;
@tailwind utilities;

.botao {
    margin-top: 20px;
    margin-left: 46%;
    margin-right: 46%;
    background-color:#004874;    
    padding: 8px 20px 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    
}



a , h1 {
    color: #004874;
}

body{
    font-family: "Open Sans", sans-serif;
}

#botao{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #28818d);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 10px 10rem;
    
   }
   
   button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }

   #card {
   
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   }
  